@import "src/theme/root";
@import "src/theme/functions";

.navbar{
  grid-area: navbar;
  background-color: $paper-background;
  height: px-to-rem(80);
  box-shadow: $shadows-gray-blue-30-3-5b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px-to-rem(20) px-to-rem(30);



  &__group{
    display: flex;
    gap: spacing(4);

  }

  &__center{

  }

  &__left{
    justify-content: flex-start;
  }

  &__right{
    justify-content: flex-end;
  }

  .nav-search{
    &__button{

    }
  }

}